body {
    background: #000;
  }
  
  svg {
    max-height: 95vh;
  }
  
  #stars_1_ rect {
    animation: starsAnim 2s .5s infinite ease-out;
  }
  
  #stars_1_ rect:nth-child(odd) {
    animation: starsAnim 1.2s infinite ease-out;
  }
  
  #comet {
    animation: cometAnim 15s 2 ease-out;
  }
  
  #moon_1_ {
    animation: moonAnim 360s infinite linear;
  }
  
  #left-eyeball,
  #right-eyeball {
    animation: eyemovement 7s infinite ease-out;
    transform-origin: center center;
  }
  
  #right-eye,
  #left-eye {
     transform-origin: center center;
    animation: eyeClose 3s 1s infinite ease-out;
  }
  
  #right-eyebrow,
  #left-eyebrow {
    animation: eyebrowAnim 3s 3.8s infinite ease-out;
  }
  
  #cloud1,
  #cloud3,
  #cloud5 {
    animation: cloudAnim 40s infinite ease-out;
  }
  
  #cloud2,
  #cloud4,
  #cloud6,
  #cloud7 {
    animation: cloudAnim 35s infinite ease-out;
  }
  
  #astro {
    animation: floatAnim 17s infinite ease-out;
  }
  
  #faceshadow {
    animation: floatAnim2 17s infinite ease-out;
  }
  
  #eyeclose2,
  #eyeclose2 {
    animation: opacAnim 3s infinite ease-out;
  }
  
  @keyframes eyebrowAnim {
    0% {
      transform: translateY(0px) translateX(0px);
    }
    3% {
      transform: translateY(10px) translateX(2px);
    }
    5% {
      transform: translateY(10px) translateX(2px);
    }
    14%,
    100% {
      transform: translateY(0px) translateX(0px);
    }
  }
  
  @keyframes opacAnim {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes eyeClose {
    0% {
      transform: scale(1);
     
    }
    93% {
      transform: scale(1);
    }
    95% {
      transform: scale(1, 0) translateY(15px) translateX(2px);
    }
    100% {
      transform: scale(1);
    }
  }
  /*Eye movement*/
  
  @keyframes eyemovement {
    0% {
      
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(3px) translateX(-5px);
    }
    100% {
      transform: translateY(0px) translateX(0px);
    }
  }
  
  @keyframes floatAnim {
    0% {
      transform: translateY(0) translateX(0px);
    }
    25% {
      transform: translateY(10px) translateX(-15px);
    }
    50% {
      transform: translateY(5px) translateX(-20px);
    }
     75% {
      transform: translateY(-10px) translateX(-5px);
    }
    100% {
      transform: translateY(0) translateX(0px);
    }
  }
  
  @keyframes floatAnim2 {
    0% {
      transform: translateY(0) translateX(0px);
    }
    50% {
      transform: translateY(0) translateX(15px);
    }
    100% {
      transform: translateY(0) translateX(0px);
    }
  }
  
  @keyframes cloudAnim {
    0% {
      transform: translateY(0) translateX(180px);
    }
    50% {
      transform: translateY(0) translateX(0px);
    }
    100% {
      transform: translateY(0) translateX(180px);
    }
  }
  
  @keyframes moonAnim {
    0% {
      transform: translateY(0) translateX(0px);
    }
    25% {
      transform: translateY(-100px) translateX(-300px);
    }
    50% {
      transform: translateY(-130px) translateX(-600px);
    }
    75% {
      transform: translateY(-200px) translateX(-300px);
    }
    100% {
      transform: translateY(0) translateX(-9990px);
    }
  }
  
  @keyframes starsAnim {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  @keyframes cometAnim {
    0% {
      transform: translateY(50px) translateX(900px);
      opacity: 1;
    }
    100% {
      transform: translateY(3px) translateX(-800px);
      opacity: 0.8;
    }
  }