.body1{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-image:url("https://static.vecteezy.com/system/resources/previews/004/745/133/non_2x/infusion-in-circle-icon-intravenous-bag-blood-drip-in-round-shaped-medical-help-concept-illustration-can-be-used-for-topics-like-hospital-therapy-chemotherapy-iv-infuse-blood-bag-icon-free-vector.jpg") ;
	/* background-image: url("https://media.istockphoto.com/photos/donate-writes-over-red-heart-shapes-hanging-over-red-background-picture-id1201142336?k=20&m=1201142336&s=612x612&w=0&h=Koyyf1PKHORujfL4LsXxGsGG0QH-9ciuGjb-9aRyn-M="); */
	
	background-repeat: no-repeat;
	background-size: cover;


}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
/* ------------------------------------------------------- */
.signclr{
    color: rgb(240, 125, 148);
	size: 5px;
}

.signclr2{
	size: 7px;
}


/* ------------------------------------------------------- */
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 25px;
	background: #ecdada;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: rgb(185, 45, 45);
	background: rgb(216, 202, 203);
	font-size: 16px;
	
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: rgb(247, 207, 210);
	color: rgb(185, 45, 45);

	
}
.login{
	height: 460px;
	background: rgba(178, 225, 228, 0.959);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color:rgb(240, 125, 148) ;
	transform: scale(.6);
	font-size: 3em;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
